* {
  font-family: Arial;
  background-color: eggshell;
  text-align: Center;
}
#What{
  text-align: left;
  Color: Purple;
  font-family: cursive;
}

#what_paragraph{
  text-align: Left;

}
#header{
  background-color: LightBlue;
  Height: 120px;
}
